{namespace mobile.static}

/**
 * @param logo
 * @param baseUrl
 * @param locale
 * @param versions
 */
{template .default}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Static Page</title>
    </head>
    <body>
      <h1>This is a sample static page!</h1>
      <h3>Logo</h3>
      <p>{$logo}</p>
      <h3>baseUrl</h3>
      <p>{$baseUrl}</p>
      <h3>Locale</h3>
      <p>{$locale}</p>
      <h3>Versions</h3>
      <p>{$versions}</p>
    </body>
  </html>
{/template}
