{namespace mobile.static}

/**
 * @param isHttps
 * @param baseUrl
 */
{template .index}
      {call desktop.static.index data="all" /}
{/template}

/**
 * @param isHttps
 * @param logo
 * @param baseUrl
 * @param locale
 * @param versions
 */
{template .default}
      {call desktop.static.default data="all" /}
{/template}
