{namespace mobile.search}

/**
 * @param logo
 * @param baseUrl
 * @param resultCount
 * @param locations
 * @param currentPage
 * @param resultsPerPage
 * @param locale
 * @param isPrimaryLocale
 */
{template .default}
      {call desktop.search.default data="all" /}
{/template}
