{namespace desktop.sitemap}

/**
 * Template used to generate our locations HTML map
 *
 * @param soyTemplateName
 * @param isHttps
 * @param logo The business logo that is displayed in the header
 * @param baseUrl the base url of current directory page
 * @param siteTree
 */
{template .default}
  {call helpers.header data="all"}
      {param title: 'Sitemap'/}
  {/call}
  {call helpers.sitemap.showTree data="all" /}
  {call helpers.footer data="all"/}
{/template}
