{namespace mobile.sitemap}

/**
 * Template used to generate our locations HTML map
 *
 * @param logo The business logo that is displayed in the header
 * @param baseUrl the base url of current directory page
 * @param siteTree
 */
{template .default}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Sitemap</title>
    </head>
    <body>
      {call helpers.sitemap.showTree data="all" /}
    </body>
  </html>
{/template}